name: Release the blueprint

on:
  push:
    tags:
      - "*"

permissions:
  contents: write

jobs:
  build-and-release:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
      - name: Determine variables
        id: determine-variables
        run: |
          folder=${GITHUB_REF#*/tags/}
          folder=${folder%-*}
          version=${GITHUB_REF##*/}
          version=${version//[!0-9.]/}

          release_name=$(echo "${folder//-/ }" | sed -e "s/\b\(.\)/\u\1/g;s/Brians/Brian's/g")
          release_name="$release_name $version"

          echo "folder=$folder" >>$GITHUB_OUTPUT
          echo "version=$version" >>$GITHUB_OUTPUT
          echo "release_name=$release_name" >>$GITHUB_OUTPUT

      - name: Build
        run: python3 tools/fatul.py encode -v ${{ steps.determine-variables.outputs.folder }}/book ${{ steps.determine-variables.outputs.folder }}-${{ steps.determine-variables.outputs.version }}.txt
      - name: Extract Changelog
        run: |
          changelog=$(python3 tools/extract-changelog.py ${{ steps.determine-variables.outputs.folder }})
          echo "changelog=$changelog" >>$GITHUB_OUTPUT
      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: ${{ steps.determine-variables.outputs.folder }}-${{ steps.determine-variables.outputs.version }}.txt
          fail_on_unmatched_files: true
          body: |
            Read about the blueprint & instructions [here](https://github.com/bcwhite-code/brians-blueprints/blob/main/${{ steps.determine-variables.outputs.folder }})
            Changelog:
            ${{ steps.determine-variables.outputs.changelog }}
            Full Changelog [here](https://github.com/bcwhite-code/brians-blueprints/blob/main/${{ steps.determine-variables.outputs.folder }}/CHANGELOG.md)
          name: ${{ steps.determine-variables.outputs.release_name}}
